<mat-card>
    <mat-card-title style="padding: 20px 0px 20px 40px;">Candidate Information</mat-card-title>
    <mat-card-content>
      <form [formGroup]="candidateForm" (ngSubmit)="onSubmit()">
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Adresse</mat-label>
            <input matInput formControlName="adresse">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>CIN</mat-label>
            <input matInput formControlName="cin">
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>CNE</mat-label>
            <input matInput formControlName="cne">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Pays</mat-label>
            <input matInput formControlName="pays">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Photo</mat-label>
            <input matInput formControlName="photo">
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Situation Familiale</mat-label>
            <input matInput formControlName="situationFamiliale">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Nationalité</mat-label>
            <input matInput formControlName="nationalite">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Pays de Naissance</mat-label>
            <input matInput formControlName="paysNaissance">
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Province de Naissance</mat-label>
            <input matInput formControlName="provinceNaissance">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Lieu de Naissance</mat-label>
            <input matInput formControlName="lieuNaissance">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Sexe</mat-label>
            <mat-select formControlName="sexe">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="other">Other</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="form-row">
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Code Postal</mat-label>
            <input matInput formControlName="codePostal">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Email Institutionnel</mat-label>
            <input matInput formControlName="emailInstitutionnel">
          </mat-form-field>
  
          <mat-form-field appearance="fill" class="flex-item">
            <mat-label>Handicapé</mat-label>
            <mat-select formControlName="handicape">
              <mat-option [value]="true">Yes</mat-option>
              <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <!-- Additional fields follow the same pattern... -->
  
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  