<div class="form-container">
    <!-- Logo at the top -->
    <div class="logo-container">
      <img src="assets/images/logopuae.png" alt="Logo" />
    </div>
  
    <h2 class="form-title">Demande de Bourse</h2>
    <form>
      <!-- Montant Field -->
    
  
      <!-- Description Field -->
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          id="description"
          class="form-control"
          required
          name="description"
          placeholder="Entrez la description"
        ></textarea>
      </div>
  
      <!-- Confirm Button -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Confirmer</button>
      </div>
    </form>
  </div>
  